body {
    background: rgba(251, 226, 189, 1);
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 1440px;
    max-height: 1024px;
    margin: 0 auto;

    background-color: ;
    
}